<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分库分表查询</title>
</head>
<body>
    <form action="/find" method="GET">
        <div>
            用户ID：<input type="text" placeholder="输入用户ID" name="userid">
            <input type = "submit" value="查询">
        </div>
        <div>
            <p>查询结果：</p>
            <p>库ID：{{ db }}</p>
            <p>orderinfo表ID：{{ orderinfo_table }}</p>
            <p>orderdeatil表ID：{{ orderdetail_table }}</p>
        </div>
    </form>
</body>
</html>